
body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(221,230,247);
  background: linear-gradient(132deg, rgba(221,230,247,1) 0%, rgba(20,24,45,1) 100%, rgba(97,73,39,1) 100%);
}
 
.logo {
  filter: drop-shadow(0 0 1.5rem #f8b232);
  max-width: 100px; 
  height: auto;
  margin: auto;
}

#menu-outer{
  /* background-color: darkgray; */
  height: auto;
  }

.table{
  margin: 0 auto;
  filter: drop-shadow(-5 0 5px #f8b232);
}

.TopBar{
  min-width: 100%;
  
  margin: 0;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;  
  align-items: center;
  list-style: none;
  background: deepskyblue;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

}

.TopBar a{
  /* filter: drop-shadow(0 0 5.5rem #f8b232); */
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  font-size: 1.5em;
}

li:hover{
    filter: drop-shadow(0 0 5px #f8b232);
    text-shadow: 0 0 2px #f8b232;
}
  
main {
  height: auto;
  width: 100%;
}
  
#profile-pic {
  margin: 1% auto;
  grid-column: 1;
}

/* ul {
  margin: auto;
  padding: 0;
  overflow: auto;
  background-color: darkgray;
  list-style-type: none;
  filter: drop-shadow(0 0 1.5rem darkgray);
}

li {
float: left;
} */
/* li a {
  margin: auto;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

