
 
/* Medium devices under 600px   LCON and LOGO disappear, li and p text resized smaller */

@media screen and (max-width: 600px) {  
  *{
    font-size: .90rem;
    flex-direction: column;
    text-align: center;
  }
  .TopBar, .icon, .logo,{
    display: none;
    flex-wrap: wrap; 
    
  }
  
  li {
    font-size: .50rem;
  }
}

@keyframes menuAnimation{
    from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
}

li{
  animation-name: menuAnimation;
  animation-iteration-count: 1;
  animation-duration: 3s;
}
/* --- Just some code to help outline all elements if needed.* {
  border: solid 1px black;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(221,230,247);
  background: linear-gradient(1deg, rgba(221,230,247,1) 0%, rgba(20,24,45,1) 100%, rgba(97,73,39,1) 100%);
}
 
.logo {
  filter: drop-shadow(0 0 1.5rem #f8b232);
  max-width: 100px; 
  height: auto;
  margin: auto;
}
.maincontent img{
  display: flex;
}

.mfc, p{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  line-height: 1.5rem;
}

.TopBar{
  min-width: 90%;
  margin: 0;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around; 
  align-items: center;
  list-style: none;
  background: deepskyblue;
  filter: drop-shadow(0 0 10px lightgray);
}

.TopBar a, li{
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
  } 

li:hover{
  filter: drop-shadow(0 0 5px #f8b232);
  text-shadow: 0 0 2px #f8b232;
}
  
#profile-pic {
  margin: 1% auto;
  max-width:45%;
  filter: drop-shadow(0 0 10px lightgray)
}
