@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

body{
  background-color: #668DE6;
}

p{
  font-family: 'Merriweather', serif;
}
.topbar{
  display: flex;
  align-items: center;
  background-color: #3F62B3 ;
  padding: 10px;
  margin-bottom: 20px;
  justify-content: flex-end;
  height: 90px;
  border: #3F62B3  2px solid;
  -webkit-box-shadow: -3px 15px 28px -1px rgba(0,0,0,0.44);
  -moz-box-shadow: -3px 15px 28px -1px rgba(0,0,0,0.44);
  box-shadow: -3px 15px 28px -1px rgba(0,0,0,0.44);
}

.topbar img{
  position: absolute;
  left: 50px;
  top: 50px;
}

button{
  border-radius: 5%;
  width: 10%;
  height: 70%;
  margin-right: 10px;
}

.mainImage{
  display: flex;
  /* align-items: left; */
  margin: 0 auto;
  background-image: url(../images/hair/poodle.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 650px;
  height: 500px;
  margin-bottom: 20px;
  border: #3F62B3  2px solid;
  -webkit-box-shadow: -3px 15px 28px -1px rgba(0,0,0,0.44);
  -moz-box-shadow: -3px 15px 28px -1px rgba(0,0,0,0.44);
  box-shadow: -3px 15px 28px -1px rgba(0,0,0,0.44);
  text-align: right;
}

.articles{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  align-items: flex-start;
  text-align: left;
  
  
}
article{
 margin: 0;
}
article img{
  width: 90%;
  height: auto;
  display: block;
  margin: 10px;
  border: #283F76  5px solid;
  -webkit-box-shadow: -3px 15px 28px -1px rgba(0,0,0,0.44);
  -moz-box-shadow: -3px 15px 28px -1px rgba(0,0,0,0.44);
  box-shadow: -3px 15px 28px -1px rgba(0,0,0,0.44);
}

.bottomsection{
  display: flex;
  width: 95%;
  justify-content: space-evenly;
  /* text-align: justify; */
  margin: 0 auto;
  -webkit-box-shadow: -3px 15px 28px -1px rgba(0,0,0,0.44);
  -moz-box-shadow: -3px 15px 28px -1px rgba(0,0,0,0.44);
  box-shadow: -3px 15px 28px -1px rgba(0,0,0,0.44);
}

.left{
  background-color: #283F76;
  border: #3F62B3  5px solid;
}

.right{
  background-color: #5177CF;
  border: #3F62B3  5px solid;
  margin-left: 10px;
}