@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Wallpoet&display=swap');

.Dashboard{
  display: grid;
  height: 98vh;
  background-image: url("../images/DashBoard/Image7Web.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
  font-size: 3.5vw;
  font-family: 'Wallpoet', cursive;
  text-align: center;
}

/*  */
/* MOBILE View untill next MEDIA query at 600PX */
/*  */
@media screen and (min-width: 1px) {
  .Dashboard{
    grid-template-columns: 5% 90% 5%; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  .Weather {
    grid-row: 1;
    grid-column: 2;
  }
  .Greet {
    grid-row: 2;
    grid-column: 2;
  }
  .Calc{
    grid-row: 3;
    grid-column: 2;
  }
  .Todo {
    grid-row: 4;
    grid-column: 2;
  }
  .DDTT {
    grid-row: 5;
    grid-column: 2;
  }
  .CalcImg{
    max-width: 50%;
    max-height: auto;
  }

}

/*  */
/* Tablet View untill next MEDIA query at 922PX */
/*  */
@media screen and (min-width: 600px) {
  .Dashboard{
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  .Weather {
    grid-row: 1;
    grid-column: 3;
  }
  .Greet {
    grid-row: 2;
    grid-column: 1 / span 3;
  }
  .Calc{
    grid-row:3;
    grid-column: 2;
  }
  .DDTT {
    grid-row:3;
    grid-column: 3;
  }
  .Todo {
    grid-row:3;
    grid-column: 1;
  }
  .CalcImg{
    max-width: 75%;
  }
}



/*  */
/* PC View MEDIA query at 922PX */
/*  */
@media screen and (min-width: 992px) {
  .Dashboard{
    grid-template-columns: 2fr 1fr 2fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .Weather {
    grid-area:1/3;
  }
  .Greet {
    grid-row: 2;
    grid-column: 1 / span 3;
  }
  .Calc{
    grid-row:3;
    grid-column: 2;
  }
  .DDTT {
    grid-row: 3;
    grid-column: 3;
  }
  .Todo {
    grid-row:3;
    grid-column: 1;
  }
  .CalcImg{
    max-width: 75%;
  }
}


p{
  color: rgb(255, 255, 255); 
  font-family: 'Acme', sans-serif;
}

hr {
  color: rgb(255, 255, 255);
  height: 5px;
  width: 90%;
}

.Calc{
  text-align: center;
  font-size: 3.5vw;
}

.CalcImg{
  max-height: auto;
}

#TodoFlex, p{
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  color: rgb(255, 255, 255); 
  font-family: 'Acme', sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
}
.TDtask {
  list-style-type:none;
}
.TDdone {
  list-style-type:none;
}

.Weather {
  display: inline;
}
.WeatherFnt {
  color: rgb(41, 41, 170);
}

#clockbox{
  color:  	#941818;
  filter: drop-shadow(0 0 1.5rem #ff0000);
}

button{
  width: 100px;
  height: 50px;
}