@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');

body{
  background-color: #668DE6;
  box-shadow: -3px 15px 28px -1px rgba(0,0,0,0.44);
}

p{
  font-family: 'Odibee Sans', cursive;
  margin-left: 10px;
}

h2{
  font-family: 'Odibee Sans', cursive;
  margin-left: 10px;
}
.topbar{
  display: flex;
  align-items: center;
  background-color: #3F62B3 ;
  padding: 10px;
  margin-bottom: 20px;
  justify-content: flex-end;
  height: 90px;
  border: #3F62B3  2px solid;
  box-shadow: -3px 15px 28px -1px rgba(0,0,0,0.44);
}

.topbar img{
  position: absolute;
  left: 50px;
  top: 50px;
}

button{
  border-radius: 5%;
  width: 15%;
  height: 70%;
  margin-right: 10px;
  font-family: 'Odibee Sans', cursive;
}

.mainImage{
  margin: 0 auto;
  background-image: url(../images/hair/poodle.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 650px;
  height: 500px;
  margin-bottom: 20px;
  border: #3F62B3  2px solid;
  box-shadow: -3px 15px 28px -1px rgba(0,0,0,0.44);
}

.articles{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

article img{
  width: 90%;
  height: auto;
  display: block;
  margin: 10px;
  border: #283F76  5px solid;
  box-shadow: -3px 15px 28px -1px rgba(0,0,0,0.44);
}

.bottomsection{
  display: flex;
  justify-content: space-between;
}

.left{
  background-color: #283F76;
  border: #3F62B3  5px solid;
  flex-direction: row;
}
.btm_right{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.itm_right{
  background-color: #283F76;
  border: #3F62B3  5px solid;
  flex-direction: row;
  width: auto;
  margin-left: 10px;
  margin-bottom: 10px;
}
/* MEDIA MOBILE CSS */
@media screen and (max-width: 500px){
  body{
  font-size: 2.5vw;
  display: flex;
  flex-direction: column;
  }

  .topbar{
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    }
  

  .articles{
    display: flex;
    flex-direction: column;
  }
 
  .mainImage {
    margin: 0 auto;
    background-image: url(../images/hair/poodle.jpg);
    max-width: 100%;
  }
  .bottomsection{
    display: flex;
    flex-direction: column;
  }
}