@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');


#myVideo {
  /position: relative;
  right: 0;
  margin-top: 50px;
  width: 100%; 
  height: auto;
}

a{
  color: white;
}
a:visited{
  text-decoration: none;
}

.Menu_Header{
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #000;
  height: 50px;
  padding: 5%;
  font-family: 'Odibee Sans', cursive;
  font-size: 28px;
  padding: 2%;
  -webkit-box-shadow: 0px 23px 31px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 23px 31px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 23px 31px 1px rgba(0,0,0,0.75);
  z-index: 1000;
}

/* Add some content at the bottom of the video/page */
.content {
  position:relative;
  background: rgba(153, 153, 153, 0.5);
  color: #f1f1f1;
  width: 100%;
  font-family: 'Odibee Sans', cursive;
  font-size: 2.vh;
  padding: 2%;
  -webkit-box-shadow: 0px 23px 31px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 23px 31px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 23px 31px 1px rgba(0,0,0,0.75);

}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  font-family: 'Odibee Sans', cursive;
  font-size: 2.vh;
  -webkit-box-shadow: 0px 23px 31px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 23px 31px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 23px 31px 1px rgba(0,0,0,0.75);
  z-index: 1000;


}
#myBtn:hover {
  background: #ddd;
  color: black;
}

body {
  margin: 0;
  font-family: 'Odibee Sans', cursive;
  font-size: 17px;
  background-color: rgba(58, 56, 56, 0.712); 
}

/* HORIZONTAL GRID/FLEX CODE */


.videobox{
  position: relative;
}

#myVideo {
  width: 100%; 
  height: auto;
}

.VideoFlex{
  display: flex;
  width: 98%;
  height: auto;
  position: absolute;
  top: 15%;
  color: rgb(255, 255, 255);
} 

.SmlBox{
  text-align: center;
  margin: 5%;
}




/* MEDIA MOBILE CSS */
@media screen and (max-width: 500px){
  * {
    border: springgreen solid 1px;

  }
} 