@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Wallpoet&display=swap');

.Dashboard{
  display: grid;
  height: 98vh;
  background-image: url("./images/Image7Web.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  grid-template-columns: 2fr 1fr 2fr; 
  grid-template-rows: 1fr 1fr 2fr;
  overflow: auto;
}

p{
  color: rgb(255, 255, 255); 
  font-family: 'Acme', sans-serif;
}

hr {
  color: rgb(255, 255, 255);
  height: 5px;
  width: 90%;
}

.Calc{
  grid-area: 3/2;
  text-align: center;
  font-size: 3.5vw;
}

.CalcImg{
  grid-area: 3/2;
  max-width: 75%;
  max-height: 75%;
  display: inline-block;
  /* margin: 0 auto; */
}

.Greet {
  grid-area: 2 /span 3;  
  text-align: center;
  font-size: 3.5vw;
}


.Todo {
  grid-area: 3/1;
  text-align: center;
  font-size: 3.5vw;
}    

.TodoFlex{
  display: flex;
  flex-direction: row;
}
.TDtask {
  list-style-type:none;
}
.TDdone {
  list-style-type:none;
}

.Weather {
  grid-area:1/3;
  font-size: 3.5vw;
  display: inline;
}
.WeatherFnt {
  color: rgb(41, 41, 170);
}
.DDTT {
  grid-area:3/3;
  font-size: 3.5vw;
  font-family: 'Wallpoet', cursive;
}
#clockbox{
  font-family: 'Wallpoet', cursive;
  text-align: center;
  color:  	#941818;
  filter: drop-shadow(0 0 1.5rem #ff0000);
}

