@import url('https://fonts.googleapis.com/css?family=Nunito|Teko&display=swap');

/* *{
  border: solid black 1px;
} */
/* 
.grid {
  display: grid;
  grid-template-rows: 450px;
  max-width: 850px;
  row-gap: 20px;
} */

h3{
  font: bold;
  color: black;
  font-weight: 900;
}

.li{
  list-style: none;
}

.top{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 450px;
  max-width: 850px;
  background-image: url(./NASAPage.jpg);
  background-size: 850px;
  margin-bottom: 20px;
}

.ImageTitle{
  grid-column: 2;
  grid-row: ;
  color: white;
  font-family: 'Teko', sans-serif;
  font-size: 85px;
  align-self: center;
  text-align: center;
}

@keyframes glow {
  to {
    text-shadow: 0 1px 4px #FFF, 0 2px 10px #ff0, 0 10px 20px #ff8000, 0 18px 40px #F00, 0px 0px 0px rgba(206,89,55,0);
    color: #FFFFFF;
    
  }
}
.ImageTitle:hover{
  animation: glow .005s infinite alternate-reverse;
}

ul{
  font-family: 'Nunito', sans-serif;
  list-style: none;
  padding-left: 0pt;
}

.bottom{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 324px;
  column-gap: 20px;
  padding: 20px;
  background: lightgray;
  grid-column: 1 / span 3;
  
}
.Social{
  grid-column: 1;
  grid-row: 1;
  font-family: 'Nunito', sans-serif;
  color: rgb(36, 36, 36);
}

.Office{
  grid-column: 2;
  grid-row: 1;
  font-family: 'Nunito', sans-serif;
  color: rgb(36, 36, 36);
}

.Contact{
  grid-column: 3;
  grid-row: 1;
  font-family: 'Nunito', sans-serif;
  color: rgb(36, 36, 36);
  padding: 0pt;
  margin-top: 0px;
  margin-bottom: 0px;
}
input{
  width: 100%;
}
textarea{
  width: 100%;
}
button{
  background-color: rgb(59, 59, 59);
  border: rgb(59, 59, 59) ;
  color: white;
  font-size: 16px ;
  padding: 5px 15px;
}
